<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/green-soul/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Apr 2019 18:10:52 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Green Soul</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('Bundles/LimitlessProject/img/favicon.ico')}}">
    <!-- CSS -->
    <!-- Bootstrap CSS
	============================================ -->
    <link rel="stylesheet" href="{{asset('Bundles/LimitlessProject/css/bootstrap.min.css')}}">
    <!-- Icon Font CSS
	============================================ -->
    <link rel="stylesheet" href="{{asset('Bundles/LimitlessProject/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{asset('Bundles/LimitlessProject/css/font-awesome.min.css')}}">
    <!-- Plugins CSS
	============================================ -->
    <link rel="stylesheet" href=" {{asset('Bundles/LimitlessProject/css/plugins.css')}}">
    <!-- Style CSS
	============================================ -->
    <link rel="stylesheet" href="{{asset('Bundles/LimitlessProject/style.css')}}">
    <!-- Modernizer JS
	============================================ -->
    <script src="{{asset('Bundles/LimitlessProject/js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>

<body>
<!-- Body main wrapper start -->
<div class="wrapper fix">

    <!-- Header Area Start -->
    <div id="header-area" class="header-area section">

        <!-- Header Top Start -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Header Top Left -->
                    <div class="header-top-left text-left col-md-6 col-sm-8 col-xs-12">
                        <p><span>Phone:</span> +945 588 9966</p>
                        <p><span>Email:</span> EcoSysteme@email.com</p>
                    </div>
                    <!-- Header Top Right -->
                    <div class="header-top-right col-md-6 col-sm-4 col-xs-12 hidden-xs">
                        {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('fos_user_security_logout') }}" class="get-quote float-right">Log Out</a>
                        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                            <a href="{{path('fos_user_security_login')}}" class="get-quote float-right">Log In</a>
                            <a href="{{path('fos_user_registration_register')}}" class="get-quote float-right">Registre</a>
                        {% endif %}
                        <!-- Header Social -->
                        <div class="header-social float-right hidden-sm">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->

        <!-- Header Bottom Start -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Logo -->
                        <div class="header-logo float-left"><a class="logo" href="{{ asset('Bundles/LimitlessProject/js/index.html') }}"><img src="{{ asset('Bundles/LimitlessProject/img/logo.png') }}" alt=""></a></div>
                        <!-- Header Search Wrapper -->
                        <div class="header-search-wrapper float-right">
                            <!-- Search Toggle -->
                            <button class="search-toggle"><i class="zmdi zmdi-search-for"></i></button>
                            <!-- Header Search Wrapper -->
                            <div class="header-search">
                                <form action="#" id="header-search-form">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="zmdi zmdi-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Main Menu -->
                        <div id="main-menu" class="main-menu float-right hidden-xs">
                            <nav>
                                <ul>
                                    <li class="active"><a href="{{ path('limitless_annonce_home') }}">home</a>
                                        <ul>
                                            <li class="active"><a href="{{ path('limitless_annonce_home') }}">home (Default Slider)</a></li>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/index-2.html') }}">home 2 (BG Image)</a></li>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/index-3.html') }}">home 3 (BG Video)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ asset('Bundles/LimitlessProject/js/about.html') }}">about</a></li>
                                    <li><a href="{{ asset('Bundles/LimitlessProject/js/project.html') }}">project</a>
                                        <ul>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/project.html') }}">project</a></li>
                                            <li><a href="{{ asset('Bundles/LimilessProject/js/project-details.html') }}">project details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ asset('Bundles/LimitlessProject/js/gallery.html') }}">gallery</a></li>
                                    <li><a href="#">pages</a>
                                        <ul>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/causes.html') }}">causes</a></li>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/causes-details.html') }}">causes details</a></li>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/event.html') }}">event</a></li>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/event-details.html') }}">event details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ asset('Bundles/LimitlessProject/js/blog.html') }}">Annonce</a>
                                        <ul>
                                            <li><a href="{{ path('limitless_annonce_afficherProduit') }}">Annonce</a></li>
                                            <li><a href="{{ asset('Bundles/LimitlessProject/js/blog-details.html') }}">Annonce details</a></li>
                                            <li><a href="{{ path('limitless_annonce_ajouterProduit') }}">Ajouter Annonce</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="{{ asset('Bundles/LimitlessProject/js/contact.html') }}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->

    </div>
    <!-- Header Area End -->

    {% block Body %}


    {% endblock %}


    <!-- Footer Top Area Start -->
    <div id="footer-top-area" class="footer-top-area bg-dark section pt-100 pb-50">
        <div class="container">
            <div class="row">
                <!--  Footer Widget  -->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-50">
                    <!--  About Widget  -->
                    <div class="about-widget">
                        <img src="{{ asset('Bundles/LimitlessProject/img/logo-2.png') }}" alt="">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                        <!-- Footer Social -->
                        <div class="footer-social fix">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <a href="#" class="button">Donate now</a>
                    </div>
                </div>
                <!--  Footer Widget  -->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-50">
                    <h3>Latest News</h3>
                    <!--  Latest News Widget  -->
                    <div class="footer-news">
                        <a href="#" class="image float-left"><img src="{{ asset('Bundles/LimitlessProject/img/blog/footer/1.jpg') }}" alt=""></a>
                        <div class="content fix">
                            <a href="#">Finibus Bonorum Malorum</a>
                            <p>Contrary to popular belief, Lorm Ipsum is not simply random</p>
                        </div>
                    </div>
                    <div class="footer-news">
                        <a href="#" class="image float-left"><img src="{{ asset('Bundles/LimitlessProject/img/blog/footer/2.jpg') }}" alt=""></a>
                        <div class="content fix">
                            <a href="#">The Standard lorem ipsum</a>
                            <p>Contrary to popular belief, Lorm Ipsum is not simply random</p>
                        </div>
                    </div>
                </div>
                <!--  Footer Widget  -->
                <div class="footer-widget col-md-4 col-xs-12 mb-50">
                    <h3>Flickr Photos</h3>
                    <!--  Flickr Widget  -->
                    <ul class="flickr-gallery">
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/1.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/2.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/3.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/4.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/5.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/6.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/8.jpg') }}" alt=""></a></li>
                        <li><a href="#"><img src="{{ asset('Bundles/LimitlessProject/img/flickr/1.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top Area End -->

    <!-- Footer Bottom Area Start -->
    <div id="footer-bottom-area" class="footer-bottom-area section">
        <!-- Footer Top Area End -->
        <div class="container">
            <div class="row">
                <!-- Copyright -->
                <div class="copyright text-left col-sm-6 col-xs-12">
                    <p>Copyright &copy; <span>Green Soul</span>. 2017.All right reserved</p>
                </div>
                <!-- Author Credit -->
                <div class="author-credit text-right col-sm-6 col-xs-12">
                    <p>Created by <a href="https://hastech.company/">Hastech</a> With <i class="fa fa-heart"></i></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area End -->

</div>
<!-- Body main wrapper end -->

<!-- JS -->

<!-- jQuery JS
============================================ -->
<script src="{{asset('Bundles/LimitlessProject/js/vendor/jquery-1.12.0.min.js')}}"></script>
<!-- Bootstrap JS
============================================ -->
<script src="{{ asset('Bundles/LimitlessProject/js/bootstrap.min.js') }}"></script>
<!-- Plugins JS
============================================ -->
<script src="{{asset('Bundles/LimitlessProject/js/plugins.js')}}"></script>
<!-- Ajax Mail JS
============================================ -->
<script src="{{asset ('Bundles/LimitlessProject/js/ajax-mail.js')}}"></script>
<!-- Main JS
============================================ -->
<script src="{{asset('Bundles/LimitlessProject/js/main.js')}}"></script>
</body>


<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/green-soul/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Apr 2019 18:11:19 GMT -->
</html>