
{% extends 'base.html.twig' %}

{% block content %}


<div id="page-wrap">
    <!-- HOME MEDIA -->
   
    <!-- END / HOME MEDIA -->



    <!-- ICON BOX -->
    <section class="section bg-gray pt-50 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-push-4 col-sm-6 col-xs-12">
                    <div class="cortana-icon">
                        <i class="fa fa-anchor"></i>
                        <h5 class="text-uppercase">Intégrité</h5>
                        <p>
                            Une tradition de conduite éthique et honnête des affaires est la pierre angulaire de notre philosophie d'entreprise et le fondement de toute notre organisation.</p>
                    </div><!-- /cortana-icon -->

                    <div class="cortana-icon">
                        <i class="fa fa-users"></i>
                        <h5 class="text-uppercase">Personnel</h5>
                        <p>Une équipe de développement informatique composé de 5 membres dedié pour le développement des application multiplateformes.</p>
                    </div><!-- /cortana-icon -->
                </div><!-- /col -->

                <div class="col-lg-4 col-lg-push-4 col-sm-6 col-xs-12">
                    <div class="cortana-icon">
                        <i class="fa fa-eye"></i>
                        <h5 class="text-uppercase">Vision</h5>
                        <p>Une mutualisation des moyens opérationnels et un soutien pour l'innovation pédagogique et scientifique avec contact permanent avec nos clients.</p>
                    </div><!-- /cortana-icon -->

                    <div class="cortana-icon">
                        <i class="fa fa-shield"></i>
                        <h5 class="text-uppercase">sécurité</h5>
                        <p>Les passagers contribuent aux frais du voyage le conducteur ne peut donc pas gagner d'argent.</p>
                    </div><!-- /cortana-icon -->
                </div><!-- /col -->

                <div class="col-lg-4 col-lg-pull-8 col-sm-12 col-xs-12">
                    <img src="{{ asset('img/principes/boy-passenger-iloveimg-resized.png') }}" alt="" style="    padding-top: 20px;
    padding-right: 40px;"/>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / ICON BOX -->



    <!-- TESTIMONIAL - CLIENT -->
    <section class="section bg-white bd-b pt-70 pb-70">
        <div class="container">
            <div class="row">

               
<div class="col-sm-6 col-xs-12"></div>

                <div class="col-sm-6 col-xs-12">
                    <h2 class="section-header">Méteo</h2>
                    <div class="row">

                        <div id='openweathermap-widget'></div>
                        <script type='text/javascript'>
                            window.myWidgetParam = {
                                id: 15,
                                cityid: 2473247,
                                appid: 'c74046e0e397baf2b7f11c50e41c8401',
                                containerid: 'openweathermap-widget',
                            };
                            (function() {
                                var script = document.createElement('script');
                                script.type = 'text/javascript';
                                script.async = true;
                                script.src = 'http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(script, s);
                            })();
                        </script>
                        <br><br><br>
                    </div><!-- /row -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / TESTIMONIAL - CLIENT -->



    


{% endblock %}
