
{% extends 'base.html.twig' %}

{% block content %}

    <!-- CONTENT -->
    <section class="section bg-white pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                            <p>pour plus d'information n'hésitez pas à nous contacter. </p>

                            <br />

                            <form id="contact-form" action="{{ path('ecosysteme_contact') }}" method="POST">
                                <div class="group clearfix">
                                    <div class="group-item mb-30">
                                        <input type="text" name="sujet" placeholder="sujet" required minlength="5"/>
                                    </div><!-- /group-item -->

                                    <div class="group-item mb-30">
                                        <input type="email" name="email" placeholder="email" required/>
                                    </div><!-- /group-item -->
                                </div><!-- /group -->


                                <textarea name="message" placeholder="Message" required minlength="10"></textarea>

                                <button type="submit" class="btn btn-primary radius">Envoyer message</button>
                                <div id="contact-content" style="padding-top: 20px"></div>
                            </form>
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                            <aside class="widget widget_text">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6381.2634017605915!2d10.189185200000008!3d36.899158099999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1485715623699" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </aside><!-- /widget_text -->


                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->
    {% endblock %}
