<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">

<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/green-soul/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2019 00:07:36 GMT -->
<header>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ecosysteme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" {{ asset ('Bundles/LimitlessProject/img/favicon.ico')}}">
    <!-- CSS -->
    <!-- Bootstrap CSS
	============================================ -->
    <link rel="stylesheet" href=" {{ asset ('Bundles/LimitlessProject/css/bootstrap.min.css')}}">
    <!-- Icon Font CSS
	============================================ -->
    <link rel="stylesheet" href=" {{ asset ('Bundles/LimitlessProject/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href=" {{ asset ('Bundles/LimitlessProject/css/font-awesome.min.css')}}">
    <!-- Plugins CSS
	============================================ -->
    <link rel="stylesheet" href=" {{ asset ('Bundles/LimitlessProject/css/plugins.css')}}">
    <!-- Style CSS
	============================================ -->
    <link rel="stylesheet" href=" {{ asset ('Bundles/LimitlessProject/style.css')}}">
    <!-- Modernizer JS
	============================================ -->
    <script src=" {{ asset ('Bundles/LimitlessProject/js/vendor/modernizr-2.8.3.min.js')}}"></script>



    <!-- Body main wrapper start -->
    <div class="wrapper fix">

        <!-- Header Area Start -->
        <div id="header-area" class="header-area section">

            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top Left -->
                        <div class="header-top-left text-left col-md-6 col-sm-8 col-xs-12">
                            <p><span>Phone:</span> +21621781799</p>
                            <p><span>Email:</span> ecosysteme@esprit.tn</p>
                        </div>
                        <!-- Header Top Right -->
                        <div class="header-top-right col-md-6 col-sm-4 col-xs-12 hidden-xs">
                            <!-- Header Quote Button -->
                            <a href="contact.html" class="get-quote float-right">Connect</a>
                            <!-- Header Social -->
                            <div class="header-social float-right hidden-sm">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->

            <!-- Header Bottom Start -->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Logo -->

                            <!-- Header Search Wrapper -->
                            <div class="header-search-wrapper float-right">
                                <!-- Search Toggle -->
                                <button class="search-toggle"><i class="zmdi zmdi-search-for"></i></button>
                                <!-- Header Search Wrapper -->
                                <div class="header-search">
                                    <form action="#" id="header-search-form">
                                        <input type="text" placeholder="Search here...">
                                        <button><i class="zmdi zmdi-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Main Menu -->
                            <div id="main-menu" class="main-menu float-right hidden-xs">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="index.html">home</a>
                                            <ul>
                                                <li class="active"><a href="index.html">home (Default Slider)</a></li>
                                                <li><a href="index-2.html">home 2 (BG Image)</a></li>
                                                <li><a href="index-3.html">home 3 (BG Video)</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="project.html">project</a>
                                            <ul>
                                                <li><a href="project.html">project</a></li>
                                                <li><a href="project-details.html">project details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery.html">gallery</a></li>
                                        <li><a href="#">pages</a>
                                            <ul>
                                                <li><a href="causes.html">causes</a></li>
                                                <li><a href="causes-details.html">causes details</a></li>
                                                <li><a href="event.html">event</a></li>
                                                <li><a href="event-details.html">event details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">blog</a>
                                            <ul>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom End -->

        </div>
</header>
<!-- Header Area End -->


<!-- Hero Area Start -->
<body>
<div id="body">
    {% block content %}











    {% endblock %}
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>

</div>
<!-- Footer Bottom Area Start -->
<div id="footer-bottom-area" class="footer-bottom-area section">
    <!-- Footer Top Area End -->
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="copyright text-left col-sm-6 col-xs-12">
                <p>Copyright &copy; <span>Ecosysteme</span>. 2019.All right reserved</p>
            </div>
            <!-- Author Credit -->
            <div class="author-credit text-right col-sm-6 col-xs-12">
                <p>3A10 Team Ecosysteme <a href="https://hastech.company/"></a> With <i class="fa fa-heart"></i></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom Area End -->


<!-- Body main wrapper end -->

<!-- JS -->

<!-- jQuery JS
============================================ -->
<!-- JS -->

<!-- jQuery JS
============================================ -->
<script src=" {{ asset ('Bundles/LimitlessProject/js/vendor/jquery-1.12.0.min.js')}}"></script>
<!-- Bootstrap JS
============================================ -->
<script src=" {{ asset ('Bundles/LimitlessProject/js/bootstrap.min.js')}}"></script>
<!-- Plugins JS
============================================ -->
<script src=" {{ asset ('Bundles/LimitlessProject/js/plugins.js')}}"></script>
<!-- Ajax Mail JS
============================================ -->
<script src=" {{ asset ('Bundles/LimitlessProject/js/ajax-mail.js')}}"></script>
<!-- Main JS
============================================ -->
<script src=" {{ asset ('Bundles/LimitlessProject/js/main.js')}}"></script>
</body>
<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/green-soul/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Apr 2019 00:07:59 GMT -->
</html>
