{% extends "@LimitlessAnnonce/Default/index.html.twig" %}

{% block Body %}

    <!-- Page Banner Area Start -->
    <div class="page-banner-area section overlay gradient">
        <div class="container">
            <div class="row">
                <div class="page-banner col-xs-12">
                    <h2>Affiche Annonce</h2>
                    <ul>
                        <li><a href="{{ path('limitless_annonce_index') }}">HOME</a></li>
                        <li><a href="{{ path('limitless_annonce_afficherProduit') }}">Annonce</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="single-sidebar">
        <h3 class="title">search</h3>
        <div class="search-sidebar">
            <form action="#">
                <input type="text" placeholder="Enter Key Words">
                <button><i class="zmdi zmdi-search"></i></button>
            </form>
        </div>
    </div>
    <br>
    <br>

    <!-- Page Banner Area End -->
    {% for a in p %}
    <div class="col-sm-6 col-xs-12 mb-30">
        <div class="blog-item">
            <!--  Image  -->
            <img src="{{ asset('images/' ~ a.image )}}" class="image" style="height:250px;width:250px">
            <!--  Content  -->
            <div class="content">
                <h4><a href="#">{{ a.nom }}</a></h4>
                <!--  Meta  -->
                <div class="btn-group">
                    <a href="{{ path('limitless_annonce_detailsProduit',{'id': a.id}) }}"><button class="button">Details</button></a>
                    <a href="{{ path('limitless_annonce_modifierProduit',{'id': a.id}) }}"><button class="button">Update</button></a>
                    <a href="{{ path('limitless_annonce_supprimerProduit',{'id':a.id}) }}"><button class="button">Delete</button></a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}
