{% extends "@LimitlessAnnonce/Default/index.html.twig" %}

{% block Body %}
    <!-- Page Banner Area Start -->
    <div class="page-banner-area section overlay gradient">
        <div class="container">
            <div class="row">
                <div class="page-banner col-xs-12">
                    <h2>Affiche Annonce</h2>
                    <ul>
                        <li><a href="{{ path('limitless_annonce_index') }}">HOME</a></li>
                        <li><a href="{{ path('limitless_annonce_afficherProduit') }}">Annonce</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Page Banner Area End -->
        <div class="col-sm-6 col-xs-12 mb-30">
            <div class="blog-item">
                <!--  Image  -->
                <img src="{{ asset('images/' ~ toShow.image )}}" class="image" style="height:250px;width:250px">
                <!--  Content  -->
                <div class="content">
                    <h4><a href="#">{{ toShow.nom }}</a></h4>
                    <!--  Meta  -->
                    <div class="meta fix">
                        <span>28 January 2016</span>
                        <span><a href="#">{{ toShow.categorie }}</a></span>
                        <span>{{ toShow.genre }}</span>
                        <span>{{ toShow.prix }}</span>
                    </div>
                    <p>{{ toShow.description }}</p>
                    <h3>Commentaires : </h3>

                    {% for com in c %}
                        <div name="com">{{ com.content }}</div>
                        <a href="">  <input type="submit" class="btn btn-success" value="Supprimer"/></a>
                        <input type="submit" class="btn btn-success" value="Modifier"/>
                    {% endfor %}
                    <br> <br>

                    {##}
                    {#{{ form_start(form) }}#}
                    {#<div class="form-group">#}
                        {#{{ form_errors(form.content) }}#}
                        {#{{ form_widget(form.content, { 'attr':  {#}
                            {#'rows': '4',#}
                            {#'class': 'form-control',#}
                            {#'placeholder': 'Enter your comment'#}
                        {#}}) }}#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<input type="submit" class="btn btn-primary" value="Publish comment" />#}
                    {#</div>#}


                    <!-- Comments Form -->
                    <div class="card my-4">
                        <h5 class="card-header">Leave a Comment:</h5>
                        <div class="card-body">
                            <form action="{{ path('limitless_annonce_ajouterComment')}}" method="post" id="comment">
                                <div class="form-group">

                                    <textarea class="form-control" rows="3" name="comment" placeholder="Comment here"></textarea>

                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>



                        <input type="submit" class="btn btn-success" value="Modifier"/>
                        <input type="submit" class="btn btn-success" value="Supprimer"/>
                    </div>

                </div>
            </div>

        </div>




{% endblock %}
