{% extends "@LimitlessAnnonce/Default/index.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block Body %}

    <!-- Page Banner Area Start -->
    <div class="page-banner-area section overlay gradient">
        <div class="container">
            <div class="row">
                <div class="page-banner col-xs-12">
                    <h2>Ajouter Annonce</h2>
                    <ul>
                        <li><a href="{{ path('limitless_annonce_index') }}">HOME</a></li>
                        <li><a href="{{ path('limitless_annonce_afficherProduit') }}">Annonce</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2>Ajouter Votre Annonce</h2>


    {{ form_start(form) }}


    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Ajouter votre annonce</button>

    {{ form_end(form) }}
    <br>
{% endblock %}

