{% extends "@LimitlessAnnonce/Default/index.html.twig" %}
{% block Body %}
<form method="post">
    Rechercher<input type="text" name="serie">
    <input type="submit" value="search">
</form>

{% if p!=null %}
<div class="col-sm-6 col-xs-12 mb-30">
    <div class="blog-item">
        <!--  Image  -->
        <img src="{{ asset('images/' ~ p.image )}}" class="image" style="height:250px;width:250px">
        <!--  Content  -->
        <div class="content">
            <h4><a href="#">{{ p.nom }}</a></h4>
            <h3><a>{{ p.categorie }}</a></h3>
            <h2><a>{{ p.description }}</a></h2>
            <h1><a>{{ p.prix }}</a></h1>
            <h2><a>{{ p.genre }}</a></h2>
            <!--  Meta  -->

        </div>
    </div>
</div>
{% endif %}
{% endblock %}