{% if is_granted("ROLE_MEMBRE") %}
<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <script src="{{asset('login/js/index.js') }}"></script>
        <link type="text/css" href="{{asset('login/css/style.css') }}" rel="stylesheet">
        <!-- GOOGLE FONT -->
        <link href="{{asset('https://fonts.googleapis.com/css?family=Montserrat:400,700') }}" rel='stylesheet' type='text/css'>
        <link href="{{asset('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic') }}" rel='stylesheet' type='text/css'>
        <link href="{{asset('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700') }}" rel='stylesheet' type='text/css'>
        <!-- CSS LIBRARY -->
        <!-- Bootstrap -->
        <link type="text/css" href="{{asset('css/lib/bootstrap.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/lib/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet">

        <!-- Font Icon -->
        <link type="text/css" href="{{asset('css/lib/font-awesome.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/lib/cortana.css') }}" rel="stylesheet">

        <!-- Revolution Slider -->
        <link type="text/css" href="{{asset('rs-plugin/css/settings.css') }}" rel="stylesheet">
        <!-- Owl Carousel -->
        <link type="text/css" href="{{asset('css/lib/owl.carousel.css') }}" rel="stylesheet">

        <!-- Select into div -->
        <link type="text/css" href="{{asset('css/lib/select2.min.css') }}" rel="stylesheet">

        <!-- Magnific Popup -->
        <link type="text/css" href="{{asset('css/lib/magnific-popup.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link type="text/css" href="{{asset('css/style.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">


    {% endblock %}
    {% block javascripts %}


        <script src="{{asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
        <script src="{{asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>

        <script src="{{asset('js/lib/bootstrap.min.js') }}"></script>

        <![endif]-->
    {% endblock %}
    <title>Modifier mot de passe</title>
</head>
<body>

<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>

<!-- HEADER 1 -->
<header id="header" class="header head1">

    <div class="main-header main-header-1 bd-b-alpha">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('ecosysteme_homepage') }}" ><img src="{{asset('img/logo2.png')}}" style="padding-top: 14%"/></a>
                {% else %}
                    <a href="{{ path('ecosysteme_homepage') }}" ><img src="{{asset('img/logo2.png')}}" /></a>
                {% endif %}
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="3">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->



            <!-- NAVIGATION -->
            <nav class="navigation nav3" data-menu-type="1199">
                <ul class="nav text-uppercase">



                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('covoiturage_dernier_annonce') }}" style="color: #ff1f17">dernier minute</a></li>
                        <li><a href="{{ path('ecosysteme_contact') }}">Contactez nous</a></li>
                        <li class="no-bg" ><a href="{{ path('covoiturage_ajt_annonce') }}" class="p-job"><i class="fa fa-plus-square" style="margin-top: -50%"></i>Ajouter Annonce</a></li>

                        <li class="menu-item-has-children" >
                            <a href="#" >
                                <img src="{{ asset('/' ~ app.user.photoMembre ~ '') }}"  class="img-circle" width="40" height="40" border="1"  /></a>
                            <ul class="sub-menu" style="left: -140%">

                                <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> {{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                {% if app.user.premisConduite != null%}
                                    <li><a href="{{ path('voiture_index') }}"><i class="fa fa-cab"></i> Mes voitures</a></li>
                                {% endif %}
                                <li><a href="{{ path('annonce_annonce') }}"><i class="fa fa-cab"></i> Mes annonces</a></li>
                                <li><a href="{{ path('mes_reservations') }}"><i class="fa fa-book"></i> Mes réservation</a></li>
                                <li><a href="{{ path('afficherReclamation') }}"><i class="fa fa-folder"></i> Mes Réclamations </a></li>
                                <li><a href="{{ path('temoignage_index') }}"><i class="fa fa-hand-paper-o"></i> Mes Témoignages </a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    {% else %}

                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                Inscription</a>
                        </li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('ecosysteme_contact') }}">Contactez nous</a></li>
                    {% endif %}

                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 1 -->

<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pb-0" data-background="{{ asset('img/slider/slide30.jpg') }}">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>Modifier mot de passe</h1>
                <h2 class="h4">EDT-ONE s'occupe de tout.</h2>

            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <h5>Ancien mot de passe :</h5>
    {{ form_row(form.current_password) }}<br>
    <h5>Nouveau mot de passe :</h5>
    {{ form_row(form.plainPassword.first) }}<br>
    <h5>Retaper nouveau mot de passe :</h5>
    {{ form_row(form.plainPassword.second) }}<br>
    <div>
        <input type="submit" value="changer mot de passe" style="background-color: #77c14b;color: white" />
    </div>
{{ form_end(form) }}


<!-- FOOTER -->
<footer id="footer" class="footer bg-dark">

    <div class="foot-credit">
        <div class="container">
            <ul>



                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('ecosysteme_contact') }}">Contactez nous</a></li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            Inscription</a>
                    </li>
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('ecosysteme_contact') }}">Contactez nous</a></li>
                {% endif %}
            </ul>
        </div><!-- /container -->
    </div><!-- /foot-credit -->
</footer>

<!-- END / FOOTER -->
</div><!-- /page-wrap -->
<!-- JQUERY -->
<script type="text/javascript" src="{{asset('js/lib/jquery-1.11.3.min.js')}}"></script>


<!-- Bootstrap -->
<script type="text/javascript" src="{{asset('js/lib/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/lib/jquery.bootstrap-touchspin.min.js')}}"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="{{asset('js/lib/owl.carousel.min.js')}}"></script>
<!-- Overflow Text -->
<script type="text/javascript" src="{{asset('js/lib/overflow-text.js')}}"></script>

<!-- Easing -->
<script type="text/javascript" src="{{asset('js/lib/jquery.easing.min.js')}}"></script>

<!-- Select to div -->
<script type="text/javascript" src="{{asset('js/lib/select2.min.js')}}"></script>

<!-- Parallax -->
<script type="text/javascript" src="{{asset('js/lib/jquery.parallax-1.1.3.js')}}"></script>

<!-- Waypoint -->
<script type="text/javascript" src="{{asset('js/lib/waypoints.min.js')}}"></script>

<!-- Count To -->
<script type="text/javascript" src="{{asset('js/lib/jquery.countTo.js')}}"></script>

<!-- Magnific Popup -->
<script type="text/javascript" src="{{asset('js/lib/jquery.magnific-popup.min.js')}}"></script>

<!-- Image Loaded -->
<script type="text/javascript" src="{{asset('js/lib/imagesloaded.pkgd.min.js')}}"></script>

<!-- Isotope -->
<script type="text/javascript" src="{{asset('js/lib/isotope.pkgd.min.js')}}"></script>


<!-- Custom jQuery -->
<script type="text/javascript" src="{{asset('js/scripts.js')}}"></script>

</body>
</html>
{% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Modifier profil | Admin </title>

        <!-- Bootstrap -->
        <script src="{{asset('login/js/index.js') }}"></script>
        <link type="text/css" href="{{asset('login/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('back/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('back/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('back/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('back/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="{{ asset('back/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{{ asset('back/vendors/jqvmap/dist/jqvmap.min.css')}}" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('back/vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('back/build/css/custom.min.css') }}" rel="stylesheet">
    </head>

    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="{{ asset('/' ~ app.user.photoMembre ~ '') }}" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenue,</span>
                            <h2>{{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li><a href="{{ path('ecosystemeadmin_back') }}"><i class="fa fa-home"></i> Accueil </a>
                                </li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a><i class="fa fa-user"></i> Admins<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{ path('covoiturageadmin_adm_add') }}">Ajouter</a></li>
                                            <li><a href="{{ path('covoiturageadmin_adm') }}">Lister</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li><a href="{{ path('covoiturageadmin_util') }}"><i class="fa fa-user"></i> Utilisteurs</a>
                                </li>
                                <li><a href="#"><i class="fa fa-edit"></i> Réclamation</a>
                                </li>

                                <li><a><i class="fa fa-bar-chart-o"></i> Statistiques <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Chart 1</a></li>
                                        <li><a href="#">Chart 2</a></li>
                                        <li><a href="#">chart 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('ann_list') }}"><i class="fa fa-clone"></i>Annonces</a>
                                </li>
                                </li>
                                <li><a href="{{ path('temoi_list') }}"><i class="fa fa-comment"></i>Témoignages</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset('/' ~ app.user.photoMembre ~ '') }}" alt="">{{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="{{ path('fos_user_profile_edit') }}"> Profile</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->




            <div class="right_col" role="main">
                <br><br><br><br>

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <h5>Ancien mot de passe :</h5>
                {{ form_row(form.current_password) }}<br>
                <h5>Nouveau mot de passe :</h5>
                {{ form_row(form.plainPassword.first) }}<br>
                <h5>Retaper nouveau mot de passe :</h5>
                {{ form_row(form.plainPassword.second) }}<br>
                <div>
                    <input type="submit" value="changer mot de passe" style="background-color: #77c14b;color: white" />
                </div>
                {{ form_end(form) }}

            </div>




    <!-- footer content -->
    <footer>
        <div class="pull-right">
            SHARE THE FARE - EDT-ONE
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
    </div>
    </div>
    <!-- jQuery -->
    <script src="{{ asset('back/vendors/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('back/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{ asset('back/vendors/fastclick/lib/fastclick.js')}}"></script>
    <!-- NProgress -->
    <script src="{{ asset('back/vendors/nprogress/nprogress.js')}}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('back/vendors/Chart.js/dist/Chart.min.js')}}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('back/vendors/gauge.js/dist/gauge.min.js')}}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('back/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
    <!-- iCheck -->
    <script src="{{ asset('back/vendors/iCheck/icheck.min.js')}}"></script>
    <!-- Skycons -->
    <script src="{{ asset('back/vendors/skycons/skycons.js')}}"></script>
    <!-- Flot -->
    <script src="{{ asset('back/vendors/Flot/jquery.flot.js')}}"></script>
    <script src="{{ asset('back/vendors/Flot/jquery.flot.pie.js')}}"></script>
    <script src="{{ asset('back/vendors/Flot/jquery.flot.time.js')}}"></script>
    <script src="{{ asset('back/vendors/Flot/jquery.flot.stack.js')}}"></script>
    <script src="{{ asset('back/vendors/Flot/jquery.flot.resize.js')}}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('back/vendors/flot.orderbars/js/jquery.flot.orderBars.js')}}"></script>
    <script src="{{ asset('back/vendors/flot-spline/js/jquery.flot.spline.min.js')}}"></script>
    <script src="{{ asset('back/vendors/flot.curvedlines/curvedLines.js')}}"></script>
    <!-- DateJS -->
    <script src="{{ asset('back/vendors/DateJS/build/date.js')}}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('back/vendors/jqvmap/dist/jquery.vmap.js')}}"></script>
    <script src="{{ asset('back/vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
    <script src="{{ asset('back/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{asset('back/vendors/moment/min/moment.min.js')}}"></script>
    <script src="{{asset('back/vendors/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{asset('back/build/js/custom.min.js')}}"></script>

    </body>
    </html>




{% endif %}