<script src="{{asset('login/js/index.js') }}"></script>
<link type="text/css" href="{{asset('login/css/style.css') }}" rel="stylesheet">
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<title>Connexion</title>
<form action="{{ path("fos_user_security_check") }}" method="post">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

        <input type="hidden" name="_target_path" value="/check" />

    <div class="group">
    <input placeholder="Nom d'utilisateur" type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label  for="username">{{ 'security.login.username'|trans }}</label>
    </div>

    <div class="group">

    <input placeholder="Mot de passe" type="password" id="password" name="_password" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label for="password">{{ 'security.login.password'|trans }}</label>
    </div>


    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" style="background:#77c14b;color: white" />




</form>
