<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <!-- GOOGLE FONT -->
        <link href="{{asset('https://fonts.googleapis.com/css?family=Montserrat:400,700') }}" rel='stylesheet' type='text/css'>
        <link href="{{asset('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic') }}" rel='stylesheet' type='text/css'>
        <link href="{{asset('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700') }}" rel='stylesheet' type='text/css'>

        <!-- CSS LIBRARY -->
        <!-- Bootstrap -->
        <link type="text/css" href="{{asset('css/lib/bootstrap.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/lib/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet">

        <!-- Font Icon -->
        <link type="text/css" href="{{asset('css/lib/font-awesome.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/lib/cortana.css') }}" rel="stylesheet">

        <!-- Revolution Slider -->
        <link type="text/css" href="{{asset('rs-plugin/css/settings.css') }}" rel="stylesheet">
        <!-- Owl Carousel -->
        <link type="text/css" href="{{asset('css/lib/owl.carousel.css') }}" rel="stylesheet">

        <!-- Select into div -->
        <link type="text/css" href="{{asset('css/lib/select2.min.css') }}" rel="stylesheet">

        <!-- Magnific Popup -->
        <link type="text/css" href="{{asset('css/lib/magnific-popup.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link type="text/css" href="{{asset('css/style.css') }}" rel="stylesheet">
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset ('Bundles/PidevAziz/img/favicon.ico')}}">
    <!-- CSS -->
    <!-- Bootstrap CSS
	============================================ -->
    <link rel="stylesheet" href="{{ asset ('Bundles/PidevAziz/css/bootstrap.min.css')}}">
    <!-- Icon Font CSS
	============================================ -->
    <link rel="stylesheet" href="{{ asset ('Bundles/PidevAziz/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{ asset ('Bundles/PidevAziz/css/font-awesome.min.css')}}">
    <!-- Plugins CSS
	============================================ -->
    <link rel="stylesheet" href="{{ asset ('Bundles/PidevAziz/css/plugins.css')}}">
    <!-- Style CSS
	============================================ -->
    <link rel="stylesheet" href="{{ asset ('Bundles/PidevAziz/style.css')}}">
    <!-- Modernizer JS
	============================================ -->
    <script src="{{ asset ('Bundles/PidevAziz/js/vendor/modernizr-2.8.3.min.js')}}"></script>

    {% endblock %}
    {% block javascripts %}


        <script src="{{asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
        <script src="{{asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>





    {% endblock %}


</head>
    <body >


    <header class="header head3">
  



          <div class="header-bottom" style="margin-top : -100px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Logo -->

                        <!-- Header Search Wrapper -->
                        <div class="header-search-wrapper float-right">
                            <!-- Search Toggle -->
                            <button class="search-toggle"><i class="zmdi zmdi-search-for"></i></button>
                            <!-- Header Search Wrapper -->
                            <div class="header-search">
                                <form action="#" id="header-search-form">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="zmdi zmdi-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Main Menu -->
                        <div id="main-menu" class="main-menu float-right hidden-xs">
                            <nav>
                                <ul>
                                    <li class="active"><a href="{{ path('ecosysteme_homepage') }}">home</a>
                                        <ul>
                                            <li class="active"><a href="index.html">home (Default Slider)</a></li>
                                            <li><a href="index-2.html">home 2 (BG Image)</a></li>
                                            <li><a href="index-3.html">home 3 (BG Video)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Innnovation</a></li>
                                    <li><a href="project.html">project</a>
                                        <ul>
                                            <li><a href="project.html">project</a></li>
                                            <li><a href="project-details.html">project details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html">gallery</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                               
                                    </li>
                                    <li><a href="{{ path('fos_user_security_login') }}">connexion</a>
                                 
                                    </li>
                                    <li><a href="{{ path('ecosysteme_contact') }}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md"></div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <!-- END / HEADER 3 -->
    <div align="center" style="margin-top: 7%;margin-bottom: 7%">


        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
</div>

    <!-- FOOTER -->
    <footer id="footer" class="footer bg-dark">

        <div class="foot-credit">
            <div class="container">
                <ul>

                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            Inscription</a>
                    </li>
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('ecosysteme_contact') }}">Contactez nous</a></li>
                </ul>
            </div><!-- /container -->
        </div><!-- /foot-credit -->
    </footer>


    <!-- END / FOOTER -->
    </div><!-- /page-wrap -->
        <!-- JQUERY -->
        <script type="text/javascript" src="{{asset('js/lib/jquery-1.11.3.min.js')}}"></script>
    <script src="{{asset('http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')}}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="{{asset('js/lib/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/lib/jquery.bootstrap-touchspin.min.js')}}"></script>

        <!-- Revolution Slider -->
        <script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
        <!-- Owl Carousel -->
        <script type="text/javascript" src="{{asset('js/lib/owl.carousel.min.js')}}"></script>
        <!-- Overflow Text -->
        <script type="text/javascript" src="{{asset('js/lib/overflow-text.js')}}"></script>

        <!-- Easing -->
        <script type="text/javascript" src="{{asset('js/lib/jquery.easing.min.js')}}"></script>

        <!-- Select to div -->
        <script type="text/javascript" src="{{asset('js/lib/select2.min.js')}}"></script>

        <!-- Parallax -->
        <script type="text/javascript" src="{{asset('js/lib/jquery.parallax-1.1.3.js')}}"></script>

        <!-- Waypoint -->
        <script type="text/javascript" src="{{asset('js/lib/waypoints.min.js')}}"></script>

        <!-- Count To -->
        <script type="text/javascript" src="{{asset('js/lib/jquery.countTo.js')}}"></script>

        <!-- Magnific Popup -->
        <script type="text/javascript" src="{{asset('js/lib/jquery.magnific-popup.min.js')}}"></script>

        <!-- Image Loaded -->
        <script type="text/javascript" src="{{asset('js/lib/imagesloaded.pkgd.min.js')}}"></script>

        <!-- Isotope -->
        <script type="text/javascript" src="{{asset('js/lib/isotope.pkgd.min.js')}}"></script>


        <!-- Custom jQuery -->
        <script type="text/javascript" src="{{asset('js/scripts.js')}}"></script>
    </body>
</html>