{% extends '@PidevAziz/Aziz/base.html.twig' %}


   {% block content %}
       <h2>La liste des Post</h2>
       <table border="2">
           <tr>
               <td>Id</td>
               <td>Tire</td>
               <td>Description</td>
               <td>Image</td>

           </tr>
           <tr>
               {% for i in posts %}
               <td> {{ i.idPost}}</td>
               <td> {{ i.titrePost }}</td>
               <td> {{ i.descriptionPost }}</td>
               <td><img width="200" height="100" class="img-fluid" src="{{ asset('uploads/post/' ~ i.imagePost) }}" alt=""></td>

           </tr>
           {% endfor  %}
       </table>
{% endblock %}