{% extends '@PidevAziz/Aziz/Base.html.twig' %}
{% block content %}
    <div class="container">
    <h1>Liste des collecteurs dans la région </h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Type de service</th>
            <th>Telephone</th>

        </tr>
        </thead>
        <tbody>
        {% for collecteur in collecteurs %}
            <tr>
                <td><a href="{{ path('collecteur_show', { 'id': collecteur.id }) }}">{{ collecteur.nom }}</a></td>
                <td>{{ collecteur.adresse }}</td>
                <td>{{ collecteur.codepostal }}</td>
                <td>{{ collecteur.typeservice }}</td>
                <td>{{ collecteur.telephone }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

    </ul>
{% endblock %}