{% extends '@PidevAziz/Aziz/base.html.twig' %}


   {% block content %}
<div class="container">
      <h1>Ajouter un appareil</h1>

       {{ form_start(form) }}
      <div class="form-group" >{{  form_row(form.idUser,{'attr':{'class':'form-control'}}) }}</div>
       <div class="form-group" >{{  form_row(form.type,{'attr':{'class':'form-control'}}) }}</div>
       <div class="form-group" >{{  form_row(form.etat,{'attr':{'class':'form-control'}}) }}</div>
       <div class="form-group" >{{  form_row(form.codepostal,{'attr':{'class':'form-control'}}) }}</div>
      <button class="button black form-control" type="submit" >Valider </button>
       {{ form_end(form) }}

</div>


{% endblock %}