{% extends '@PidevAziz/Aziz/base.html.twig' %}


   {% block content %}
       <div class="container">
       <h1>Liste des appareils ajoutés</h1>

       <table class="table">
           <tbody>
           <tr>
               <th>Iduser</th>
               <td>{{ appareil.idUser }}</td>
           </tr>
           <tr>
               <th>Type</th>
               <td>{{ appareil.type }}</td>
           </tr>
           <tr>
               <th>Etat</th>
               <td>{{ appareil.etat }}</td>
           </tr>
           <tr>
               <th>Codepostal</th>
               <td>{{ appareil.codepostal }}</td>
           </tr>
           <tr>
               <th>Id</th>
               <td>{{ appareil.id }}</td>
           </tr>
           </tbody>
       </table>

       <ul>

           <li>
               <a  class="button black form-control text-center" href="{{ path('appareil_edit', { 'id': appareil.id }) }}">Modifier</a>
           </li>
           <li>
               {{ form_start(delete_form) }}
               <button class="button black form-control text-center" type="submit" >Effacer</button>
               {{ form_end(delete_form) }}
           </li>
           <li>
               <a  class="button black form-control text-center" href="{{ path('collecteur_index',{ 'id': appareil.id }) }}" role="button">Chercher un collecteur</a>
           </li>

       </ul>

       </div>
   {% endblock %}
