{% extends '@PidevAziz/Aziz/base.html.twig' %}
{% block content %}
    <div class="container">
    <h1>Appareil edit</h1>


        {{ form_start(edit_form) }}
        <div class="form-group" >{{  form_row(edit_form.idUser,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group" >{{  form_row(edit_form.type,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group" >{{  form_row(edit_form.etat,{'attr':{'class':'form-control'}}) }}</div>
        <div class="form-group" >{{  form_row(edit_form.codepostal,{'attr':{'class':'form-control'}}) }}</div>
        <button class="button black form-control" type="submit" >Edit </button>
        {{ form_end(edit_form) }}

    <ul>
        <li>
            <a  class="button black form-control text-center" href="{{ path('appareil_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button class="button black form-control text-center" type="submit" >Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}