{% extends '@PidevAziz/Aziz/base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Liste des appareils ajoutés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Iduser</th>
                <th>Type</th>
                <th>Etat</th>
                <th>Codepostal</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appareil in appareils %}
            <tr>
                <td><a href="{{ path('appareil_show', { 'id': appareil.id }) }}">{{ appareil.idUser }}</a></td>
                <td>{{ appareil.type }}</td>
                <td>{{ appareil.etat }}</td>
                <td>{{ appareil.codepostal }}</td>
                <td>{{ appareil.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appareil_show', { 'id': appareil.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('appareil_edit', { 'id': appareil.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a  class="btn" href="{{ path('appareil_new') }}" role="button">Ajouter un nouveau appareil</a>
        </li>
    </ul>
</div>
{% endblock %}
