<h2>La list de commentaire </h2>
{% for a in c %}
{{ a.content }}
    <div class="btn-group">
        <a href="{{ path('limitless_annonce_modifierComment',{'id': a.id}) }}"><button class="button">Update</button></a>
        <a href="{{ path('limitless_annonce_supprimerComment',{'id':a.id}) }}"><button class="button">Delete</button></a>
    </div>
{% endfor %}