<h3>modifier a comment</h3>

{{ form_start(form) }}
<div class="form-group">
    {{ form_errors(form.content) }}
    {{ form_widget(form.content, { 'attr':  {
        'rows': '4',
        'class': 'form-control',
        'placeholder': 'Enter your comment'
    }}) }}
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="save comment" />
</div>

